.card-overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(39, 41, 46, 0.8) 100%
  );
  z-index: 1;

  /* Overlay hover */
  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(255, 170, 23, 0.8) 73.56%
    );
    transform: translateY(100%);
    transition: transform 0.4s ease;
  }
}

.card-overlay-2 {
  position: absolute;
  inset: 0;
  background: transparent;
  z-index: 1;

  /* Overlay hover */
  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background: var(--primary);
    transform: translateY(100%);
    transition: transform 0.4s ease;
  }
}

/* Hover trigger */
a:hover .card-overlay::after,
a:hover .card-overlay-2::after {
  transform: translateY(0);
}

.front-icon:before {
  border-bottom: 75px solid #f5f5f5;
  border-left: 0px solid transparent;
  border-right: 75px solid transparent;
  content: "";
  height: 0;
  position: absolute;
  width: 0;
  z-index: -1;
  transition: all 300ms ease;
  top: -1rem;
  left: 0;
}

a:hover .front-icon:before {
  border-bottom: 75px solid rgba(0, 0, 0, 0.08);
}