.bg-linear-primary-top-bottom {
  background-image: linear-gradient(165deg, var(--color-primary) 0%, rgba(242, 41, 91, 0) 51%);
}

/* Hamburger Menu */
.hamburger-box {
  display: inline-block;
  height: 20px;
  position: relative;
  width: 40px;
  padding: 12px 15px;
}
.hamburger-box .hamburger-inner {
  margin-left: 3px;
  top: 16px;
}
.hamburger-box .hamburger-inner,
.hamburger-box .hamburger-inner:after,
.hamburger-box .hamburger-inner:before {
  background-color: var(--color-body);
  border-radius: 4px;
  height: 2px;
  position: absolute;
  width: 24px;
  transition: all 0.15s ease;
}
.hamburger-box .hamburger-inner:after,
.hamburger-box .hamburger-inner:before {
  display: block;
  content: "";
}
.hamburger-box .hamburger-inner:before {
  top: -9px;
}
.hamburger-box .hamburger-inner:after {
  bottom: -9px;
}
.hamburger-box .hamburger-inner {
  width: 16px;
}
.hamburger-box .hamburger-inner:after {
  width: 24px;
}
.hamburger-box .hamburger-inner:before {
  width: 24px;
}
.hamburger-box:hover .hamburger-inner, .hamburger-box:hover .hamburger-inner:after, .hamburger-box:hover .hamburger-inner:before {
  height: 2px;
  background-color: var(--color-body);
}
.hamburger-box:hover .hamburger-inner {
  width: 24px;
}
.hamburger-box:hover .hamburger-inner:after {
  width: 16px;
}
.hamburger-box:hover .hamburger-inner:before {
  width: 16px;
}

#tm-nav-mobile {
  position: absolute;
  top: 50%;
  right: 15px;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
#tm-nav-mobile .tm-nav-mobile-button {
  width: 34px;
  height: 20px;
  position: relative;
  cursor: pointer;
}
#tm-nav-mobile .tm-nav-mobile-button:before, #tm-nav-mobile .tm-nav-mobile-button:after,
#tm-nav-mobile .tm-nav-mobile-button span {
  content: "";
  background-color: var(--color-body);
  height: 2px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}
#tm-nav-mobile .tm-nav-mobile-button:before {
  top: 0;
  width: 24px;
}
#tm-nav-mobile .tm-nav-mobile-button:after {
  bottom: 0;
  width: 24px;
}
#tm-nav-mobile .tm-nav-mobile-button span {
  top: 9px;
  width: 100%;
}
#tm-nav-mobile .tm-nav-mobile-button.active:before, #tm-nav-mobile .tm-nav-mobile-button.active:after {
  width: 100%;
}

button {
  cursor: pointer;
}

.card-overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(39, 41, 46, 0.8) 100%);
  z-index: 1;
}

/* Overlay hover */
.card-overlay::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(255, 170, 23, 0.8) 73.56%);
  transform: translateY(100%);
  transition: transform 0.4s ease;
}

/* Hover trigger */
a:hover .card-overlay::after {
  transform: translateY(0);
}